<h1>Editing Page</h1>

<%= render 'form' %>

<div class="btn-group" role="group">
  <%= link_to 'Show', @page, class: 'btn btn-default' %>
  <%= link_to 'Back', pages_path, class: 'btn btn-default' %>
</div>
