@import "bootstrap-sprockets";
@import "bootstrap";
@import "frontend/mixins";
@import 'dropzone/dropzone';
@import "admin/pages";
@import "admin/awesome-bootstrap-checkbox";
@import "shared/bootstrap-datepicker3";
@import "shared/bootstrap-timepicker";

.resource_class_name {
  opacity: 0.3;
}

.resource_form {
  input, textarea {
    width: 100%;
  }

  #photo_select {
    border: 2px dashed #0087f7;
    border-radius: 5px;
    min-height: 150px;
    padding: 10px;
  }

  #photo_select.single {
    width: 300px;
    width: 175px;

  }

  #photo_select.multiple {
    width: 100%;
    min-height: 150px;
  }

  label
   span {
     font-weight: normal;
     margin-left: 0.5em;
     opacity: 0.3;
   }

}

.gallery-preview {
  @include border-radius(20px);
}

body {
  background:asset-url("bg-white.jpg") #fff;
}

.pagination {
  display: block;
  margin-bottom: 20px;
  ul {
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
    li {
      display:inline-block;
      margin-right:30px;
      padding-right:30px;
      border-right:1px solid #ccc;
      font-family: 'Lato', sans-serif;
        font-size:20px;
        line-height:20px;
        font-weight:300;
        color:$lightColor;



      &:last-child {
        border-right:none;
      }

      a {
        text-decoration:underline;
        span {
          color:$brownColor;
          border-bottom:1px solid $brownColor;
        }

        &:hover {
          text-decoration:none;
          span {
            color:$greenDarkColor;
            border-bottom:1px solid $greenDarkColor;
          }
        }
      }

      &.active {
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.navbar-default {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  border:none;
  border-radius:0;

  .navbar-nav > li > a {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 25px;
    opacity: 0.5;
    text-decoration: none;

    &:hover {
      color: #fff;
      opacity: 1;
    }

    &.active {
      background:rgba(255,255,255,0.2);
      color:#fff;
      opacity: 1;
    }
  }
  .navbar-toggle {
    background:asset-url("icon-admin-menu.png") no-repeat center center;
    width: 26px;
    height:26px;
    border:none;
    border-radius:0;
    opacity: 0.5;
    cursor:pointer;
    padding:0;
    margin: 12px 15px 0;

    &:hover, &:focus {
      opacity: 1;
      background:asset-url("icon-admin-menu.png") no-repeat center center;
    }
  }

  .navbar-brand{
    background:asset-url("brand-logo-admin.png") no-repeat center center;
    width: 70px;
    height:55px;
    text-indent: -9999px;
  }
}

// Misc helper styles
.font-normal {
  font-weight: normal;
}

.field_with_errors {
  @extend .has-error;
}


#error_explanation {
  h2 {
    background-color: #AAAAAA;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 0;
    padding: 5px 10px;
  }

  ul {
    background-color: #EEEEEE;
    border-radius: 0 0 5px 5px;
    padding:0.5em 1.5em;
    font-weight: 300;
    font-size: 14px;

    li {
      font-size: 14px;
    }
  }
}
