.homepage {
	background:asset-url("bg-white.jpg") #fff;
	#header-wrapper {
		min-height:560px;

	}
	#section-one {
		padding-top:50px;
		h1 {
			display: none;
		}

		.content {
			padding-right: 180px;
			position: relative;
			min-height: 600px;

			
		}
	}
	#banner-navigation {
		ul {

			#coffee_event, #coffee_adventure, #art_spot, #the_caffa_store {
				height:220px !important;

				img {
					margin:30px auto 40px !important;
				}
			}
		}
		&.active {
			#coffee_event, #coffee_adventure, #art_spot, #the_caffa_store {
				height:140px !important;

				img {
					margin:0px auto !important;
				}
				&.show-sub {
					height: 180px !important;
	  				margin-top: -20px;

	  				& > a {
	  					padding-top:20px;
	  				}

	  				a {
	  					border-bottom-color:rgba(255,255,255,0);
	  					margin-bottom:-1px;

	  				}

					.sub {
						height: 50px;
					}
				}
			}
		}
	}
	.post-item {
		.post-meta {
			h4 {
				font-size:24px;
				line-height:26px;
				margin-bottom:5px;
				font-weight:400;
			}
		}
	}
	#section-two {
		background:asset-url("bg-grey.jpg");
		background:asset-url("home-latest-news-top-bg.jpg") top center no-repeat, asset-url("home-latest-news-bottom-bg.jpg") bottom center no-repeat, asset-url("bg-grey.jpg");
		

	}
	#section-four {
		background:asset-url("bg-blue.jpg");
	}
}
.aboutuspage {
	background:#fff;
	#header-wrapper {
		//background:asset-url("bg-aboutus.jpg") no-repeat bottom center;
		//min-height:740px;

		/*#banner {
			.title {

				.text3 {

				}
				.text4 {
					width: 354px;
					text-align: left;
					float: right;
				}
			}
		}*/
	}
	#section-two {
		background:asset-url("bg-grey.jpg");
		background:asset-url("ourteam-top-bg.jpg") top center no-repeat, asset-url("ourteam-bottom-bg.jpg") bottom center no-repeat, asset-url("bg-grey.jpg");
	}
	#section-three {
		background:asset-url("bg-white.jpg");
	}
	#section-four {
		background:asset-url("bg-green.jpg");
		background:asset-url("partner-top-bg.jpg") top center repeat-x, asset-url("bg-green.jpg");

		h1 {
			color:#fff;
		}

		.content-partners {
			p {
				color:#fff;
				text-align:center;
				max-width:786px;
				margin:0 auto;
				font-size:16px;
				line-height:20px;
				font-weight:300;
				margin-bottom:20px;
			}
		}
	}
}
.newspage {
	#header-wrapper {
		//background:asset-url("bg-news.jpg") no-repeat bottom center;
		//min-height:420px;

		/*#banner {
			.title {
				padding-top:20px;

				.text1, .text2, .text3 {
					position: relative;
		  			top:0;
		  			text-align:right;
		  			display:block;
				}
				.text3 {
					margin-right: 118px;
				}
			}
		}*/
	}
	.content {
		overflow: hidden;
		img {
			max-width: 100%;
			max-height: 100%;
			display: block;
			height: auto !important;
			margin: 0 20px 20px;
		}
	}
	
}
.contactpage {
	#header-wrapper {
		//background:asset-url("bg-contact.jpg") no-repeat bottom center;
		//min-height:420px;

		#banner {
			.title {
				//padding-top:70px;

				.text3 {
					//top:70px;
				}
			}
		}
	}
}
.coffeeadventurepage {
	#header-wrapper {
		//background:asset-url("bg-adventure.jpg") no-repeat bottom center;
		//min-height:420px;

		#banner {
			.title {

				.text3 {
					//top:70px;
				}
			}
		}
	}
	#section-two {
		overflow:hidden;
		background:asset-url("bg-grey.jpg");
		background:asset-url("home-latest-news-top-bg.jpg") top center no-repeat, asset-url("bg-grey.jpg");

		h3 {
			color:$goldColor;
		}

		img {
			margin-bottom:30px;
		}

		p {
			font-size:16px;
			line-height:22px;
			font-weight:300;
			color:$lightColor;
			margin-bottom:30px;
		}

		.col {
			padding:0 10px;
		}
	}
}
.content-who-we-are, .content-what-we-do {
	width:100%;
	position:relative;
	overflow:hidden;
	margin-bottom:60px;

	h2 {
		font-size:30px;
		line-height:32px;
	}

	.col-1 {
		float:left;
		width:44%;
		margin-right:2%;

		img {
			max-width:100%;
		}
	}
	.col-2 {
		float:left;
		width:54%;
	}
}
.content-what-we-do {
	margin-bottom:0px;

	.col-1 {
		float:right;
	}
	.col-2 {
		float:right;
	}
}
.content-coffee-news, .content-art-news {
	margin-bottom:30px;

	ul {
		list-style: none;
		padding-left: 0;
		padding-right: 0;
		li {
		}
	}

	.post-image {
		border:none;
		border-right:1px solid rgba($greenColor, 0.3);
		//min-height:280px;
	}
	.post-list {
		border:none;
		border-left:1px solid rgba($greenColor, 0.3);
	}
	.post {
		padding:10px 25px;
	}
	.post-list {
		padding:0px 25px;
	}
}
.content-coffee-news {
	padding-right:0;

	.post-image {
		border:none;
		border-right:1px solid rgba($greenColor, 0.3);
		padding-right:25px;
	}
}
.content-art-news {
	.col {
		float:right;
	}
	h3 {
		color:$blueColor;
	}
	li.post-list {
		border:none;
		border-right:1px solid rgba($greenColor, 0.3);
		padding-left:0;
		padding-left:0;
		float: right;
			a {
				color:$blueColor;

				&:hover {
					color:$blueDarkColor;
				}
		}
	}
	.post-meta {
		h4 {
			a {
				color:$blueColor;

				&:hover {
					color:$blueDarkColor;
				}
			}
		}
	}
	.post-image {
		border:none;
		border-left:1px solid rgba($greenColor, 0.3);
		padding-left:25px;
		.category {
			background:$blueColor;
			left:25px;
		}
	}

}
.calendar-home {
	h1 {
		color:#fff;
		background:asset-url("calendar-line.png") center center no-repeat;
	}
}
.content-aboutus {
	.col-1 {
		display:inline-block;
		vertical-align:top;
		width:40%;
		margin-right:2%;

		img {
			max-width:100%;
		}
	}
	.col-2 {
		display:inline-block;
		vertical-align:top;
		width:57%;
	}
}
.content-ourteam {
	text-align:center;
	img {
		width:200px;
		height:200px;
		@include border-radius(100px);
		margin-bottom:30px;
	}
	.col {
		width:200px;
		display:inline-block;
		margin:20px 30px;
		vertical-align:top;
	}
	.name, .position {
		display:block;
		font-family: 'Lato', sans-serif;
	}
	.name {
		color:$greenDarkColor;
		font-size:18px;
		line-height:20px;
		margin-bottom:5px;
	}
	.position {
		color:$lightColor;
		font-size:14px;
		line-height:16px;
		font-style:italic;
		margin-bottom:20px;
	}
	p {
		color:$lightColor;
		font-size:16px;
		line-height:20px;
		font-weight:300;
	}
}
.modal-open .modal {
	text-align:left;
}
.modal-info-content {
	text-align:left;
	overflow:hidden;
	img {
		max-width:90%;
		@include border-radius(100px);
		margin-bottom:30px;
		height:auto;
	}
	.col-img {
		width:20%;
		float:left;
	}
	.col-info {
		width:80%;
		float:left;
	}
	.name, .position {
		display:block;
		font-family: 'Lato', sans-serif;
	}
	.name {
		font-size:18px;
		line-height:20px;
		margin-bottom:5px;
	}
	.position {
		color:$lightColor;
		font-size:14px;
		line-height:16px;
		font-style:italic;
		margin-bottom:20px;
	}
	p {
		color:$lightColor;
		font-size:16px;
		line-height:20px;
		font-weight:300;
	}
}

.content-error {
	top: 800px;
	h1 {
		color:$brownColor;
	}
	p {
		max-width:780px;
		margin:0 auto 40px;
		font-weight:300;
		text-align:center;
		color:$lightColor;
	}
}


.content-racingcreatures {
	text-align:center;
	img {
		width:200px;
		height:200px;
		@include border-radius(100px);
		margin-bottom:30px;
	}
	h1 {
		color:$redColor;
	}
	p {
		max-width:780px;
		margin:0 auto 20px;
	}
	.col {
		width:200px;
		display:inline-block;
		margin:20px 30px;
		vertical-align:top;
	}
	.name, .position {
		display:block;
		font-family: 'Lato', sans-serif;
	}
	.name {
		color:$redColor;
		font-size:18px;
		line-height:20px;
		margin-bottom:5px;
	}
	.position {
		color:$lightColor;
		font-size:14px;
		line-height:16px;
		font-style:italic;
		margin-bottom:20px;
	}
	p {
		color:$lightColor;
		font-size:16px;
		line-height:20px;
		font-weight:300;
	}
}
.content-calendar {
	h1 {
		color:$blueColor;
	}
	p {
		max-width:780px;
		margin:0 auto 40px;
		font-size:16px;
		line-height:20px;
		font-weight:300;
		text-align:center;
		color:$lightColor;
	}
}
.content-news {
	top: 800px;
	h1 {
		color:$brownColor;
	}
	p {
		max-width:780px;
		margin:0 auto 40px;
		font-weight:300;
		text-align:center;
		color:$lightColor;
	}
}
.content-contact {
	h1 {
		color:$purpleColor;
	}
	p {
		max-width:780px;
		margin:0 auto 40px;
		font-size:16px;
		line-height:20px;
		font-weight:300;
		text-align:center;
		color:$lightColor;
	}
}
.content-coffee-adventure {
	h1 {
		color:$goldColor;
	}
	p {
		max-width:780px;
		margin:0 auto 40px;
		font-size:16px;
		line-height:20px;
		font-weight:300;
		text-align:center;
		color:$lightColor;
	}
}
.calendarpage {
	#header-wrapper {
		background:asset-url("bg-calendar.jpg") no-repeat bottom center;
		min-height:420px;

		/*#banner {
			.title {
				.text3 {
					position: relative;
		  			margin-left: 130px;
		  			top:0;
				}
			}
		}*/
	}
	.calendar-navigation {

		.active-month {
			color:#fff;
			background:$blueColor;
		}
	}

}
.partnerspage {
	#header-wrapper {
		background:asset-url("bg-calendar.jpg") no-repeat bottom center;
		min-height:420px;
	}
	.content-partners {
		h1 {
		color:$brownColor;
		}
		p {
			max-width:780px;
			margin:0 auto 40px;
			font-weight:300;
			text-align:center;
			color:$lightColor;
		}
	}
}
.media-page {
	img {
		margin: 0 5px 5px 0;
		vertical-align: top;
	}
}