== link_to [:admin, resource], options: { title: t('common.delete'), method: :delete, data: { confirm: t('common.delete_confirm') }, class: 'btn btn-default'}
            span.glyphicon.glyphicon-trash.text-warning
